#!/bin/bash

echo "### Starting initialization..."
AWS_REGION="${REGION}"
HF_TOKEN="${HF_TOKEN}"
echo "### AWS region $AWS_REGION"
git clone https://github.com/habanoz/c4_fineweb_tr_aws.git
cd c4_fineweb_tr_aws
chmod +x run_clone.sh
./run_clone.sh "$HF_TOKEN"
